
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> Set custom domain to your blog </h3>
</div>
<div class="modal-body">

<p>

Please change the CNAME to:

</p>

<br>
<p>
  <code>domains.logdown.com</code>
</p>

<br>
<p>
It may take up to 24 hours to update. <br>
 Please return to your Blog Settings after 24 hours and hit "Save."
</p>

<p>
You do not need to update your domain's name servers.

</p>

</div>

<div class="modal-footer">
  If you are still having problems, please <%= mail_to Setting.support_email, "mail us", :encode => "hex" %>.
</div>
