
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> Disqus 留言 </h3>
</div>

<div class="modal-body">

  <p>
    Logdown 使用 <%= link_to("Disqus", "http://disqus.com", :target => "_blank") %> 作为留言系统。
  </p>

  <p>
    当您在您的 <%= link_to("Disqus", "http://disqus.com", :target => "_blank") %> 帐户上注册完一个网站後，您会得到一个专属的 <code>shortname</code>。
  </p>
  <br>

  <p> <%= image_tag("/images/disqus_shortname.png") %> </p>

</div>

<div class="modal-footer">
  若您还有其他问题，欢迎<%= mail_to Setting.support_email, "来信联络", :encode => "hex" %>。
</div>
