<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> 自 Wordpress 汇入 </h3>
</div>

<div class="modal-body">

  <p>
    上传前请先将您的 <code>wordpress.xml</code> 压缩为 <code>zip</code> 压缩档。
  </p>

  <p>
    例如 <code> my-awesome-blog.zip </code>
  </p>
  <br>

  <p>
    为了 SEO（搜寻引擎最佳化）考量，您旧有的 WordPress 网址将会被自动以 <code>301 moved permanently</code> 导向到新的网址：

    <ul>
      <li>/?p=1234  </li>
      <li>/2013/06/18/my-post-title </li>
      <li>/2013/06/my-post-title </li>
      <li>/archives/1234 </li>
    </ul>
  </p>

</div>

<div class="modal-footer">
  若您还有其他问题，欢迎<%= mail_to Setting.support_email, "来信联络", :encode => "hex" %>。
</div>
