
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> Import from Blogger </h3>
</div>
<div class="modal-body">


<p>

Please archive your <code> blog-06-18-2013.xml</code> to a <code>zip</code> file first then upload.

</p>

<p>
ex. <code> my-awesome-blog.zip </code>

</p>



</div>

<div class="modal-footer">
  If you are still having problems, please <%= mail_to Setting.support_email , "mail us", :encode => "hex" %>.
</div>
