<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> 從 Movable Type 匯入 </h3>
</div>

<div class="modal-body">
  <p>
    請將您的 Blog 匯出為與 Movable Type 相容的 <code>txt</code> 格式，再將您的匯出檔案上傳。
  </p>

  <p>
    例如 <code>blog-export-mt-logdown-20130707105553.txt</code>
  </p>
</div>

<div class="modal-footer">
  若您還有其他問題，歡迎<%= mail_to Setting.support_email, "來信聯絡", :encode => "hex" %>。
</div>
