
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> 從 Tumblr 匯入 </h3>
</div>

<div class="modal-body">

  <p> 請直接輸入您要匯入的 Tumblog 網址。 </p>

  <p> 例如 <code> http://my-awesome-blog.tumblr.com/ </code> </p>

</div>

<div class="modal-footer">
  若您還有其他問題，歡迎<%= mail_to Setting.support_email, "來信聯絡", :encode => "hex" %>。
</div>
