
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> 自 Tumblr 汇入 </h3>
</div>

<div class="modal-body">

  <p> 请直接输入您要汇入的 Tumblog 网址。 </p>

  <p> 例如 <code> http://my-awesome-blog.tumblr.com/ </code> </p>

</div>

<div class="modal-footer">
  若您还有其他问题，欢迎<%= mail_to Setting.support_email, "来信联络", :encode => "hex" %>。
</div>
