
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> Import from Tumblr </h3>
</div>
<div class="modal-body">


<p>

Please enter your Tumblr url to import.

</p>

<p>
ex. <code> http://my-awesome-blog.tumblr.com/ </code>

</p>

</div>

<div class="modal-footer">
  If you are still having problems, please <%= mail_to Setting.support_email , "mail us", :encode => "hex" %>.
</div>
