
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3> Import from MT </h3>
</div>
<div class="modal-body">


<p>
  Please export your blog to <code> your-blog-backup.txt</code> into a <br>

   MovatableType-Compatible <code>txt</code> backup file first then upload.
</p>

<p>
ex. <code> blog-export-mt-logdown-20130707105553.txt </code>

</p>

</div>

<div class="modal-footer">
  If you are still having problems, please <%= mail_to Setting.support_email, "mail us", :encode => "hex" %>.
</div>
